.fonte {
	color: white;
	font-family: verdana;
	font-size: 300%;
}
h1 {
	color: black;
	font-family: courier;
	font-size: 300%;
}
body {
	background-color: powderblue;
}
p {
	color:green;
	font-family: comic sans;
	font-size: 160%;
}
#fonte2{
	color: yellow;
}
.center {
	text-align: center;
}